button {
    background: rgb(255, 0, 0);
    color:white;
    font:bold 18px Arial;
    padding: 10px 15px 10px 15px
}
button:hover {
    background:rgb(0, 0, 0);      
    color:rgb(255, 255, 255);
    border-color: aquamarine;       
}
h1{
    color:rgb(0, 0, 0);
    font: bold 30px Times;
}
